
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Vote</h4>
  </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-3" ng-click="select(1)">
          <img id="char1" src="images/terran/1.jpg" alt="banshee">
        </div>

        <div class="col-sm-3" ng-click="select(2)">
          <img id="char2" src="images/terran/2.jpg" alt="battlecruiser">
        </div>

        <div class="col-sm-3" ng-click="select(3)">
          <img id="char3" src="images/terran/3.jpg" alt="ghost">
        </div>

        <div class="col-sm-3" ng-click="select(4)">
          <img id="char4" src="images/terran/4.jpg" alt="hellion">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
      <button class="btn btn-primary" ng-click="decide()"> Decide </button>
    </div>

</div>
