<div class="page-header">
  <h1>Welcome, {{user.name}}</h1>
</div>

<button class="btn btn-default" ng-click="openModal()">
  New Group
</button>
<h3>Your groups:</h3>

<div ng-repeat="group in groups">
    <a style="display:block;" href="{{group.completed ? '#/groups/'+group.id+'/complete' : '#/groups/'+group.id+'/voting'}}">
      <div class="groupIndex col-sm-2 complete-{{group.completed}}">
        <p ng-bind="group.name"></p>
        <p>{{JSON.stringify(group)}}</p>
        <p ng-bind="group.description"></p>
      </div>
    </a>
</div>
